/*
 Theme Name:   Teatronika Child
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  Twenty Seventeen Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     teatronika
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-seventeen-child
*/

.main-navigation li.wpm-languages {
	float: right;
}

.main-navigation li.wpm-languages.active-language a {
	color: #767676;
}

button {
	font-size: 12px;
	line-height: 1;
	padding: 5px 10px;
}

#filterInput {
	width: auto;
	padding: 0;
}

.grid {
	font-size: 12px;
	margin-top: 30px;
}

.box {
	width: 250px;
	height: 150px;
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 10px;
	color: white;
}

.box.big {
	width: 520px;
	height: auto;
}

.box:hover {
	cursor: pointer;
}

.box .title {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}

.box p {
	margin: 0;
}

.box label {
	font-weight: normal;
	font-style: italic;
	text-decoration: underline;
	display: inline-block;
	margin-bottom: 0;
    color: inherit;
}

.box a {
	text-decoration: underline;
    color: inherit;
}

.box .sinopsis, .box .personajes, .box .pdf, .box .wp-post-image {
	display: none;
}

.box.big .sinopsis, .box.big .personajes, .box.big .pdf, .box.big .wp-post-image {
	display: block;
}

.box .sinopsis, .box .download {
	margin-top: 10px;
}

.wp-post-image {
	float: right;
	margin: -10px -10px 10px 10px;
}

.aventuras {
	background: #7ED321;
}
.comedia {
	background: #888;
}
.documental {
	background: #F549F4;
	color: #333;
}
.drama {
	background: #6B66F5;
}
.filosofico {
	background: #eeeeee;
	color: #333;
}
.politico {
	background: #26C6F2;
}
.romance {
	background: #6B00ab;
}
.surreal {
	background: #FF0074;
}
.thriller {
	background: #F5D249;
	color: inherit;
}

button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    border: 2px solid black;
    background-color: auto;
}

 /* Modal Window */
.modal {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}
.modal-header,
.modal-footer {
	padding: 0;
}
.modal-header h2 {
	clear: none;
	padding-top: 0;
}
.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
}
.modal-content a,
#signup-content a {
    text-decoration: underline;
}
.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
} 

#signup-content {
    max-width: 1000px;
    padding-left: 3em;
    padding-right: 3em;
    margin-left: auto;
    margin-right: auto;
}